.signIn {
  display: flex;
  flex-flow: column;
}
legend:hover {
  color: white;
}

legend:focus {
  color: white;
}

label:hover {
  color: white;
}

label:focus {
  color: white;
}

input:hover {
  color: white;
}

input:focus {
  color: white;
}

a:hover {
  color: white;
}

a:focus {
  color: white;
}
